.hello{
    color: #fff;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.bg{
    background: url('../imgs/WechatIMG76.jpeg') no-repeat;
    width: 60%;
    height: 60%;
    background-size: 100%;
}

*{
    margin: 0;
    padding: 0;
}

/* 我是一个注释 */